.statSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 20px;
}

.blue {
  background-color: rgba(43, 127, 255, 1);
}

.purple {
  background-color: rgba(173, 70, 255, 1);
}

.orange {
  background-color: rgba(255, 105, 0, 1);
}

.green {
  background-color: rgba(0, 201, 80, 1);
}

.red {
  background-color: rgba(251, 44, 54, 1);
}

.indigo {
  background-color: rgba(97, 95, 255, 1);
}
