.logoContainer {
  padding: 72px 85px;
}

.logo {
  color: black;
  font-size: 24px;
  background-color: rgba(0, 255, 136, 1);
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

