.leftSectionContainer {
  background-color: rgba(17, 27, 60, 1);
  width: 170px;
  padding: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(43, 127, 255, 0.2);
}

body {
  margin: 0;
}

.navOptions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
