.optionContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 12px;
  width: 160px;
  box-sizing: border-box;
}

.text {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.icon {
  font-size: 20px;
}

.optionContainer:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 136, 255, 1);
  box-shadow: 0 0 10px 5px rgba(119, 192, 255, 1);
  background-color: rgba(21, 34, 82, 1);
  box-sizing: border-box;
}
