.headerContainer {
  width: 100%;
  height: 96px;
  /* box-sizing: border-box; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: rgba(17, 27, 60, 1);
}

.headerTitle {
  font-size: 32px;
  font-weight: 400;
  color: white;
}

.profileArea {
  display: flex;
  align-items: center;
  gap: 26px;
}

.notification {
  font-size: 20px;
  color: white;
}

.profileIcon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.profileIcon > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
