.statCard {
  height: 146px;
  width: 374px;
  padding: 25px 24px;
  border-radius: 16px;
  border: 1px solid rgba(43, 127, 255, 0.2);
  display: flex;
  justify-content: space-between;
}

.stateContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.statLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: rgba(144, 161, 185, 1);
}

.statValue {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.statChange {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.positive {
  color: rgba(5, 223, 114, 1);
}

.negative {
  color: rgba(253, 36, 74, 1);
}

.stateIcon {
  height: 48px;
  width: 48px;
  border-radius: 14px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
